#today {
    border:1px solid #dadada;
}

#headerLi {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

#search-button {

#forecast {
    justify-content: center;
    padding:5px;
}

#forecast > ul {
    padding-right:0;
    margin-right:10px;
}

#forecast > ul:last-child {
    margin-right:0px;
}

#forecast > ul > li {
    color:#fff;
    background-color:#181033;
    border-width: 0;
}

#forecast > ul > li.date {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}